<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} Rene Teran</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/ren%C3%A9-a-ter%C3%A1n-g-539830300/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/TeranGonzalezR" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:reneener.dev@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://x.com/0007rtrtrt" target="_blank" class="a-green">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
