<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/IMG_3372.png" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                reneener.dev
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">Desarrollador de software/Pentester</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/ren%C3%A9-a-ter%C3%A1n-g-539830300/" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/TeranGonzalezR" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:reneener.dev@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://x.com/0007rtrtrt" target="_blank" class="a-green">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
           Estoy siempre dispuesto a colaborar en nuevos proyectos relacionados con la ciberseguridad, ya sea en pruebas de penetración, hardening de sistemas o desarrollo de herramientas personalizadas en Python. 
También me interesa participar en el desarrollo de <span class="default-highlight">aplicaciones web</span>, especialmente con tecnologías como <span class="default-highlight">Python</span> y <span class="default-highlight">Angular</span>. 
Si estás buscando a alguien comprometido y con experiencia para fortalecer la seguridad de tus sistemas o construir soluciones web eficientes, 
pongámonos en contacto. <span class="default-highlight">Hablemos sobre cómo puedo aportar valor a tus objetivos a través de soluciones seguras y funcionales</span>.

            </p>
            <button>
                <a href="https://www.linkedin.com/in/ren%C3%A9-a-ter%C3%A1n-g-539830300/" target="_blank" class="a-green">
                > Escribeme en LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
