<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Educacion.</h2>
                <p class="default-p">
Explore mi formación educativa, los idiomas que hablo, mi carrera universitaria en software, cursos técnicos en ciberseguridad y las tecnologías con las que he trabajado a lo largo de mi experiencia.
                </p>
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>