<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Protegiendo y construyendo el mundo digital de forma integral.</h1>
        <h2 class="home-author">Rene Teran, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            Soy desarrollador y pentester con más de 2 años de experiencia en desarrollo de software y seguridad informática. Combino mis conocimientos en Python, Angular y hardening de sistemas para crear aplicaciones seguras, escalables y eficientes.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Ver el Portafolio
            </a>
        </button>
      </div>
    </div>
  </div>
  